<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="utf-8">

			<!-- http://realfavicongenerator.net/ -->
			<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
			<link rel="manifest" href="assets/images/favicon/manifest.json">
			<link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
			<link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
			<meta name="msapplication-config" content="assets/images/favicon/browserconfig.xml">
			<meta name="theme-color" content="#ffffff">

			<meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
			<link rel="stylesheet" href="assets/css/bootstrap.min.css">
			<link rel="stylesheet" href="assets/css/bootstrap-grid.min.css">
			<link rel="stylesheet" href="assets/css/style-gen.css">
		<title>Code Metriker</title>
	</head>
	<body>


	<nav class="navbar navbar-toggleable-sm navbar-light fixed-top" style="background-color: #f9f9f9;">
		<button class="navbar-toggler navbar-toggler-right" type="button"
																											data-toggle="collapse" data-target="#navbarsExampleDefault"
																									aria-controls="navbarsExampleDefault" aria-expanded="false"
																															 aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">
			<img src="assets/images/logretta.svg" width="20" height="20" class="d-inline-block align-top" alt="">
			Code Metriker
		</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Lines of Code</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="cc">Cyclomatic Complexity</a>
				</li>
			</ul>
			<span class="navbar-text">
				$STATUS
			</span>
		</div>
	</nav>

	<div class="container-fluid">

		<h3>Lines of Code Analysis</h3>
		Lines of Code gives a quantitative overview of the evolution of the source code.
    Keep in mind that Source Code Is A Liability, Not An Asset - each
    line exhibit a technical debt. Or in other words: more is not always
    better.
		<br />
		<br />
		<br />

		<h4>Summarized Lines of Code</h4>

		The following picture illustrates the code increase and decrease
		over time. Each measuring point corresponds to a git label.


		<div class="text-center">
			<img src="assets/generated/cloc-sum.png" class="img-fluid" alt="cloc image">
		</div>

		<hr />
		<br />
		<br />


		<h4>Programming Language Details</h4>

		The following picture illustrates the identical data, additionally
		differentiate the programming languages.


		<div class="text-center">
			<img src="assets/generated/cloc-detail.png" class="img-fluid" alt="cloc image">
		</div>





	</div> <!-- container -->

	<script src="assets/js/jquery-3.1.1.slim.min.js"></script>
	<script src="assets/js/tether.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	</body>
</html>
